[app]
compiler=gc
description=A Go application built with gst framework
go_version=go1.25.4
license=MIT
name=gst
platform=darwin/arm64
version=

[audit]
async_write=true
batch_size=10000
enable=false
exclude_fields=
exclude_operations=
exclude_tables=
flush_interval=5s
include_fields=
max_field_length=1000
record_new_values=true
record_old_values=true
record_query_params=true
record_request_body=true
record_response_body=true
record_user_agent=true

[auth]
access_token_expire_duration=2h
base_auth_password=admin
base_auth_username=admin
none_expire_passord=admin
none_expire_token=fake_token
none_expire_username=admin
rbac_enable=false
refresh_token_expire_duration=168h

[cache]
capacity=100000
clean_window=5m0s
expiration=10m0s
life_window=10m0s
max_entries=100000
shards=16
size_mb=128
type=bigcache

[cassandra]
ca_file=
cert_file=
connect_timeout=5s
consistency=QUORUM
enable=false
enable_tls=false
hosts=
insecure_skip_verify=false
key_file=
keyspace=
max_retry_count=3
num_conns=2
page_size=5000
password=
port=9042
reconnect_interval=1s
retry_policy=default
timeout=5s
username=

[clickhouse]
compress=false
database=default
debug=false
dial_timeout=5s
enable=false
host=127.0.0.1
password=
port=9000
read_timeout=30s
username=default
write_timeout=30s

[database]
conn_max_idle_time=10m0s
conn_max_lifetime=1h0m0s
max_idle_conns=10
max_open_conns=100
slow_query_threshold=500ms
type=sqlite

[debug]
gops_enable=false
gops_listen=127.0.0.1
gops_port=10002
pprof_enable=false
pprof_listen=127.0.0.1
pprof_port=10001
statsviz_enable=false
statsviz_listen=127.0.0.1
statsviz_port=10000

[elasticsearch]
addrs=
api_key=
ca_file=
cert_file=
cloud_id=
compress=true
connection_pool_size=0
dial_timeout=30s
disable_retries=false
discovery_interval=5m0s
enable=false
enable_debug_logger=false
enable_metrics=false
enable_tls=false
insecure_skip_verify=false
keep_alive_interval=15s
key_file=
max_retries=3
password=
request_timeout=0
response_header_timeout=0
retry_backoff=true
retry_backoff_max=30s
retry_backoff_min=1s
retry_on_status=
username=

[etcd]
auto_sync=false
auto_sync_interval=0
ca_file=
cert_file=
dial_timeout=5s
enable=false
enable_tls=false
endpoints=
insecure_skip_verify=false
keepalive_time=0
keepalive_timeout=0
key_file=
max_call_recv_msg_size=0
max_call_send_msg_size=0
password=
permit_without_stream=false
reject_old_cluster=false
username=

[feishu]
app_id=
app_secret=
app_type=INTERNAL
ca_file=
cert_file=
disable_token_cache=false
enable=false
enable_tls=false
insecure_skip_verify=false
key_file=
request_timeout=15s

[grpc]
ca_file=
cert_file=
enable=false
enable_health_check=true
enable_reflection=false
enable_tls=false
initial_conn_window_size=0
initial_window_size=0
keepalive_time=30s
keepalive_timeout=10s
key_file=
listen=127.0.0.1
max_connection_age=30s
max_connection_age_grace=5s
max_connection_idle=15s
max_recv_msg_size=4194304
max_send_msg_size=4194304
port=9090

[influxdb]
app_name=
batch_size=0
bucket=
ca_file=
cert_file=
enable=false
enable_tls=false
exponential_base=0
flush_interval=0
host=127.0.0.1
insecure_skip_verify=false
key_file=0
max_retries=0
max_retry_interval=0
max_retry_time=0
org=
port=8086
precision=0
retry_buffer_limit=0
retry_interval=0
token=
use_gzip=false

[kafka]
brokers=
ca_file=
cert_file=
client_id=sarama-client
enable=false
enable_tls=false
insecure_skip_verify=false
key_file=
version=

[kafka.consumer]
group=
offset=newest
rebalance_strategy=range

[kafka.producer]
compression=none
max_message_bytes=1000000
required_acks=1
retries=3

[kafka.sasl]
mechanism=PLAIN
password=
username=

[kafka.timeout]
dial=10s
read=30s
write=30s

[ldap]
attributes=
base_dn=
bind_dn=
bind_password=
ca_file=
cert_file=
conn_timeout=10s
deref=0
enable=false
enable_tls=false
filter=(objectClass=*)
group_attribute=member
group_dn=
group_filter=(objectClass=groupOfNames)
heartbeat=30s
host=localhost
insecure_skip_verify=false
key_file=
page_size=1000
port=389
referrals=false
request_timeout=10s
scope=2
user_attribute=uid
user_dn=
user_filter=(objectClass=person)

[logger.controller]
log_request=false
log_response=false

[logger]
dir=./logs
encoder=json
file=
format=json
level=info
max_age=30
max_backups=1
max_size=100
prefix=

[memcached]
enable=false
max_cache_size=0
max_idle_conns=100
servers=127.0.0.1:11211
timeout=100ms

[middleware]
enable_authz=false
enable_iam_session=false
enable_jwt_auth=false

[minio]
access_key=
bucket=
ca_file=
cert_file=
compress=false
concurrency=0
enable=false
enable_tls=false
endpoint=localhost:9000
iam_endpoint=
insecure_skip_verify=false
key_file=
location=
part_size=0
region=
secret_key=
secure=false
session_token=
sts_endpoint=
timeout=10s
trace=false
use_iam=false
use_sts=false

[mongo]
auth_source=admin
ca_file=
cert_file=
connect_timeout=0
database=
enable=false
enable_tls=false
host=127.0.0.1
insecure_skip_verify=false
key_file=
max_conn_idle_time=0
max_connecting=0
max_pool_size=0
min_pool_size=0
password=
port=27017
read_concern=
server_selection_timeout=0
username=
write_concern=

[mqtt]
addr=127.0.0.1:1883
auto_reconnect=true
cert_file=
clean_session=true
client_prefix=
connect_timeout=10s
enable=false
insecure_skip_verify=true
keepalive=1m0s
key_file=
password=
use_tls=false
username=

[mysql]
charset=utf8mb4
database=
enable=true
host=127.0.0.1
password=
port=3306
username=root

[nats]
addrs=
ca_file=
cert_file=
client_name=
connect_timeout=2s
credentials_file=
enable=false
enable_tls=false
insecure_skip_verify=false
key_file=
max_pings_outstanding=2
max_reconnects=5
nkey_file=
password=
ping_interval=2m0s
reconnect_jitter=0
reconnect_jitter_tls=0
reconnect_wait=1s
token=
username=

[otel]
buffer_flush_interval=1s
enable=false
exporter_type=otlp-http
log_spans=false
max_tag_value_len=256
otlp_endpoint=localhost:4318
otlp_headers=
otlp_insecure=true
reporter_flush_interval=1s
reporter_queue_size=100
sampler_param=1
sampler_type=const
service_name=gst

[postgres]
database=postgres
enable=true
host=127.0.0.1
password=
port=5432
sslmode=disable
timezone=UTC
username=postgres

[redis]
addr=127.0.0.1:6379
addrs=
ca_file=
cert_file=
cluster_mode=false
db=0
dial_timeout=0
enable=false
enable_tls=false
expiration=0
insecure_skip_verify=false
key_file=0
max_retries=0
max_retry_backoff=0
min_idle_conns=0
min_retry_backoff=0
namespace=gst
password=
pool_size=12
read_timeout=0
write_timeout=0

[rethinkdb]
ca_file=
cert_file=
connect_timeout=5s
database=
discovery_host=false
enable=false
enable_tls=false
hosts=127.0.0.1:28015
insecure_skip_verify=false
keep_alive_time=30s
key_file=
max_idle=10
max_open=100
num_retries=3
password=
read_timeout=10s
username=
write_timeout=10s

[rocketmq]
access_key=
auto_commit=true
ca_file=
cert_file=
consume_concurrently_max_span=2000
consume_from_where=last_offset
consume_message_batch_max_size=1
consume_orderly=false
consume_timestamp=
credentials_file=
enable=false
enable_tls=false
group_name=DEFAULT_PRODUCER
insecure_skip_verify=false
instance_name=DEFAULT_INSTANCE
key_file=
max_reconsume_times=16
name_server_addrs=
namespace=
num_retries=2
secret_key=
send_msg_timeout=3s
trace_enabled=false
vip_channel_enabled=false

[s3]
access_key_id=
bucket=
enable=false
endpoint=
region=
secret_access_key=
use_ssl=false

[scylla]
ca_file=
cert_file=
connect_timeout=5s
consistency=quorum
enable=false
enable_tls=false
enable_tracing=false
hosts=
insecure_skip_verify=false
key_file=
keyspace=
num_conns=0
page_size=5000
password=
reconnect_constant_interval=1s
reconnect_initial_interval=100ms
reconnect_max_interval=10s
reconnect_max_retries=10
reconnect_policy=
retry_max_interval=5s
retry_min_interval=100ms
retry_num_retries=5
retry_policy=
timeout=30s
username=

[server.circuit_breaker]
enable=true
failure_rate=0.5
interval=10s
max_requests=100
min_requests=10
name=backend-server
timeout=30s

[server.circular_buffer]
size_operation_log=10000

[server]
domain=
idle_timeout=1m0s
listen=
mode=dev
port=8080
read_timeout=15s
write_timeout=15s

[sqlite]
database=main
enable=true
is_memory=true
path=./data.db

[sqlserver]
app_name=gst
database=
enable=false
encrypt=false
host=127.0.0.1
password=
port=1433
trust_server=true
username=sa
